<div class="container mt-3">
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" type="text" [(ngModel)]="searchName">     
    </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items | filter : searchName">
            <div>id: <b>{{item.id}}</b></div>
            <div>Имя: <b>{{item.name}}</b></div>
            <div>Тип: <b>{{item.type}}</b></div>
        </li>
    </ul> 
</div>